body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: rgb(235, 235, 229);
}

* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

/* login and register forms */

fieldset {
  border: none;
}

input {
  display: block;
  margin: 8px;
  border-style: none;
  width: 90%;
  padding: 6px;
  border-radius: 2px;
}

input:focus {
  outline: none;
}

button {
  margin: 0 auto;
  padding: 10px 30px;
  font-size: 15px;
  border: none;
  display: block;
  cursor: pointer;
  background-color: #e8daa5;
  opacity: 0.6;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

button:active {
  transform: translateY(4px);
}

p {
  text-align: center;
}

a {
  color: black;
}

.error {
  color: red;
  font-weight: bold;
  font-size: small;
  text-align: left;
}

/*  profile picture */

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
